<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('partials/head') %>
<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <main class="p-1">
        <form class="register-form card">
            <h1 class="heading-primary">Register</h1>
            <div class="fgrp">
                <label class="label" for="name">Name</label>
                <input type="text" id="name" name="name" class="input--text"/>
            </div>
            <div class="fgrp">
                <label class="label" for="username">Create a Username</label>
                <input type="text" id="username" name="username" class="input--text" maxlength="15"/>
            </div>
            <div class="fgrp">
                <label class="label" for="email">Email</label>
                <input type="email" id="email" name="email" class="input--text"/>
            </div>
            <div class="fgrp">
                <label class="label" for="password">Password</label>
                <input type="password" id="password" name="password" class="input--text" maxlength="50"/>
            </div>
            <div class="fgrp">
                <label class="label" for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="input--text" maxlength="50"/>
            </div>
            <div class="fgrp">
                <button type="submit" id="subbut" class="btn btn--primary">Submit</button>
            </div>
            <div class="errbox"></div>
        </form>
    </main>
    <footer class="footer">
        <small class="footer__copyright">&copy; 2019</small>
    </footer>
    <script src="/validator.min.js"></script>
    <script type="application/javascript">
        document.querySelector('.header__navtoggle').addEventListener('click',()=>{

            document.querySelector('.header--two').classList.toggle('show');

        });


        document.querySelector('#subbut').addEventListener('click',e => {
            e.preventDefault();

            const errbox = document.querySelector('.errbox');
            let errs = 0;
            const errmsgs = [];

            errbox.innerHTML = '';

            const fields = {
                _csrf : '<%= csrfToken %>', 
                name : document.querySelector('#name').value,
                username : document.querySelector('#username').value.trim(), 
                email : document.querySelector('#email').value.trim(), 
                password : document.querySelector('#password').value, 
                confirmPassword : document.querySelector('#confirmPassword').value
            }


            if(!validator.isEmail(fields.email)){

                errs++;
                errmsgs.push('Please enter a valid email.');

            }

            if(fields.password.length < 6){
                errs++;
                errmsgs.push('Password must be at least 6 characters');

            }

            if(fields.password !== fields.confirmPassword){

                errs++;
                errmsgs.push('Confirm Password does not match.');

            }

            if(errs){
                for(msg of errmsgs){

                    errbox.insertAdjacentHTML('beforeend','<p>'+ msg +'</p>');

                }

                return;
            }


            fetch('/user/create',{
                method : 'POST',
                credentials : 'same-origin',
                headers : {
                    'Content-Type' : 'application/json'
                }, 
                body : JSON.stringify(fields)
            })
            .then(resp => {
                if(!resp.ok){

                    throw new Error('There was a server error');

                }
                return resp.json();
            })
            .then(resp => {
                if(resp.errors){
                    errbox.innerHTML = '';
                    for(error of resp.errors){
                        errbox.insertAdjacentHTML('beforeend','<p>'+error.msg+'</p>');
                    }
                }else{

                      window.location.href = '/';

                }
            })
            .catch(err => {
                errbox.innerHTML = '<p>There was an issue processing your request</p>';
            });
        });
    </script>
</body>
</html>